* {
  margin: 0%;
  padding: 0%;
}

/*Brackgrown Color*/
/*Font Family*/
.seccionMenu div p, header .titulo div .ayresapartments {
  font-family: "Acme", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: white;
  filter: drop-shadow(0px 0px 3px black);
}

header .titulo div p {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
  filter: drop-shadow(0px 0px 3px black);
}

.seccionMenu div h1, header .titulo div h1 {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  filter: drop-shadow(0px 0px 3px black);
}

#video {
  width: 100%;
}

#logo {
  justify-self: center;
  border-radius: 40%;
  width: 100px;
  filter: drop-shadow(0px 0px 3px black);
}

header {
  width: auto;
  background-color: #dfcdb4;
}
header .encabezado {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "menu menu menu menu menu" "reser reser reser reser reser";
  background: #dfcdb4;
  background: linear-gradient(0deg, rgb(223, 205, 180) 0%, rgb(107, 93, 77) 100%);
}
header .encabezado .menuPrincipal {
  padding: 0;
  grid-area: menu;
  width: auto;
  justify-content: space-evenly;
}
header .encabezado .reservasInicio {
  grid-area: reser;
  margin: 0 30px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "ubi checkin checkout hab tarif";
  width: auto;
  font-family: "Acme", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #6b5d4d;
}
header .encabezado .reservasInicio .ubiDepto {
  grid-area: ubi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}
header .encabezado .reservasInicio .checkin {
  grid-area: checkin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}
header .encabezado .reservasInicio .checkout {
  grid-area: checkout;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}
header .encabezado .reservasInicio .tipoHabitacion {
  grid-area: hab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}
header .encabezado .reservasInicio .tarifas {
  grid-area: tarif;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  font-family: "Acme", sans-serif;
}
header .encabezado .reservasInicio .tarifas:hover {
  transform: scale(1.2);
}
header .encabezado .reservasInicio select, header .encabezado .reservasInicio input {
  background-color: #dfcdb4;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  border-radius: 30px;
  padding: 5px;
  color: #6b5d4d;
  border: #6b5d4d 1px solid;
  margin: 0;
}
header .titulo {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}
header .titulo div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6839110644) 7%, rgba(255, 255, 255, 0) 100%);
}
header .titulo div .ayresapartments {
  margin: 0;
}
header .titulo div h1 {
  margin: 0;
}

.barra ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.barra ul li {
  background-color: #6b5d4d;
  padding: 5px;
  width: 20%;
  font-family: "Acme", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 30px;
}
.barra ul li:hover {
  transform: scale(0.9);
}
.barra ul li a, .barra ul li a:-webkit-any-link {
  text-decoration: none;
  color: white;
  width: auto;
}

/*Pantalla 768-990*/
@media screen and (max-width: 990px) {
  .encabezado nav div .barra {
    width: 50%;
  }
  .encabezado nav div .barra h5 {
    font-family: "Acme", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #6b5d4d;
  }
  .encabezado nav div .barra ul {
    flex-direction: column;
  }
  .encabezado nav div .barra ul li {
    width: 100%;
    margin: 10px;
  }
}
@media screen and (max-width: 718px) {
  .reservasInicio div select, .reservasInicio div input, .reservasInicio div label {
    display: none;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 660px) {
  #logo {
    width: 60px;
  }
  .encabezado {
    grid-template-rows: 1fr;
  }
  .encabezado nav div .barra h5 {
    font-size: 25px;
  }
  .encabezado nav div .barra ul li a {
    font-size: 15px;
  }
  .reservasInicio {
    font-size: 10px;
    width: 100%;
  }
  .reservasInicio div select, .reservasInicio div input, .reservasInicio div label {
    display: none;
  }
  .titulo .textoTitulo p {
    font-size: 20px;
  }
  .titulo .textoTitulo .ayresapartments {
    font-size: 35px;
  }
  .titulo .textoTitulo h1 {
    font-size: 10px;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 500px) {
  #logo {
    width: 40px;
  }
  .encabezado nav div .barra h5 {
    font-size: 20px;
  }
  .encabezado nav div .barra ul li a {
    font-size: 12px;
  }
  .titulo .textoTitulo p {
    font-size: 10px;
  }
  .titulo .textoTitulo .ayresapartments {
    font-size: 20px;
  }
  .titulo .textoTitulo h1 {
    font-size: 8px;
  }
}
.inicio div {
  margin: 0 80px;
  padding: 10px;
  grid-area: txt;
  display: grid;
  width: auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-template-areas: "h2 h2 h2" "p1 p1 ba" "caminito p2 p2" "p3 p3 galileo";
}
.inicio div h2 {
  grid-area: h2;
  color: #6b5d4d;
  font-family: "Acme", sans-serif;
  font-size: 50px;
}
.inicio div p {
  padding: 0 100px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
}
.inicio div p:hover {
  transform: scale(1.2);
  transition: 2s;
}
.inicio div img {
  width: 100%;
  border-radius: 30%;
  padding: 10px;
  filter: drop-shadow(0px 0px 8px #6b5d4d);
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p3 {
  grid-area: p3;
}

.ba {
  grid-area: ba;
}

.caminito {
  grid-area: caminito;
}

.galileo {
  grid-area: galileo;
}

.ubiGaleria {
  margin-top: 100px;
}
.ubiGaleria p {
  color: #6b5d4d;
  font-family: "Acme", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}
.ubiGaleria section {
  display: grid;
  display: grid;
  width: auto;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-template-areas: "palGal urGal griGal" "botPal botUr botGui";
  margin: 60px 0 150px;
  padding: 0;
}
.ubiGaleria section .palermoGaleria {
  grid-area: palGal;
}
.ubiGaleria section .uriburuGaleria {
  grid-area: urGal;
}
.ubiGaleria section .guidoGaleria {
  grid-area: griGal;
}
.ubiGaleria section .botonPalermo {
  grid-area: botPal;
}
.ubiGaleria section .botonUri {
  grid-area: botUr;
}
.ubiGaleria section .botonGuido {
  grid-area: botGui;
}
.ubiGaleria section article {
  text-align: center;
  padding: 0;
  margin: 10px;
  border: 1px solid #dfcdb4;
  border-radius: 5%;
  padding: 20px 20px;
  filter: drop-shadow(0px 0px 0.5px grey);
}
.ubiGaleria section article h2 {
  font-family: "Acme", sans-serif;
  color: #6b5d4d;
  font-weight: 300;
  font-size: 25px;
  margin-top: 20px;
}
.ubiGaleria section article div {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 25px;
  width: 100%;
  padding: 0;
  border: #6b5d4d solid 2px;
  color: white;
  flex-direction: row;
}
.ubiGaleria section article div a {
  background-color: #6b5d4d;
  border: #6b5d4d solid 2px;
}
.ubiGaleria section article div a:hover {
  --bs-btn-hover-bg: #dfcdb4;
  --bs-btn-hover-border-color: #dfcdb4;
  --bs-btn-bg: #dfcdb4;
  --bs-btn-border-color: #dfcdb4;
  --bs-btn-active-bg: #dfcdb4;
  --bs-btn-active-border-color: #dfcdb4;
}
.ubiGaleria section article img {
  width: 350px;
  filter: drop-shadow(0px 0px 2px black);
  border-radius: 10%;
}
.ubiGaleria section article img:hover {
  transform: scale(1.1);
  transition: 1.5s;
}
.ubiGaleria section button {
  font-family: "Lato", sans-serif;
  background-color: #6b5d4d;
  font-weight: 300;
  font-size: 20px;
  border: #6b5d4d solid 2px;
}
.ubiGaleria section button:hover {
  --bs-btn-hover-bg: #dfcdb4;
  --bs-btn-hover-border-color: #dfcdb4;
  --bs-btn-bg: #dfcdb4;
  --bs-btn-border-color: #dfcdb4;
  --bs-btn-active-bg: #dfcdb4;
  --bs-btn-active-border-color: #dfcdb4;
}
.ubiGaleria section div h2 {
  font-family: "Acme", sans-serif;
  color: #6b5d4d;
  font-size: 20px;
  text-align: center;
}
.ubiGaleria section div img {
  margin: 20px 0;
  width: 100%;
}
.ubiGaleria section button a {
  text-decoration: none;
  color: white;
}

/*Pantalla 1300*/
@media screen and (max-width: 1300px) {
  .ubiGaleria section {
    display: flex;
    flex-direction: column;
  }
  .ubiGaleria section article img {
    width: 500px;
  }
}
/*Pantalla 768-900*/
@media screen and (max-width: 900px) {
  .inicio div {
    margin: 0 10px;
  }
  .inicio div p {
    padding: 0 50px;
  }
  .ubiGaleria .Galeria article img {
    width: 400px;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 660px) {
  .inicio {
    width: auto;
    padding: 5px 0;
  }
  .inicio div h2 {
    font-size: 35px;
  }
  .inicio div p {
    font-size: 15px;
  }
  .inicio div img {
    filter: drop-shadow(0px 0px 2px #6b5d4d);
    margin: 0%;
    padding: 0;
  }
  .ubiGaleria {
    margin: 20px 0;
  }
  .ubiGaleria p {
    font-size: 35px;
  }
  .ubiGaleria .Galeria {
    margin: 10px 0;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 500px) {
  .inicio div h2 {
    font-size: 20px;
  }
  .inicio div p {
    padding: 0 25px;
    font-size: 10px;
  }
  .ubiGaleria {
    margin: 10px 0;
  }
  .ubiGaleria p {
    font-size: 20px;
  }
  .ubiGaleria .Galeria {
    margin: 20px 0;
  }
  .ubiGaleria .Galeria article {
    padding: 30px 10px;
  }
  .ubiGaleria .Galeria article h2 {
    font-size: 15px;
  }
  .ubiGaleria .Galeria article img {
    width: 280px;
  }
  .ubiGaleria .Galeria button {
    font-size: 15px;
  }
}
.seccionMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}
.seccionMenu div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6839110644) 7%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 660px) {
  .seccionMenu div p {
    font-size: 40px;
  }
  .seccionMenu div h1 {
    font-size: 10px;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 500px) {
  .seccionMenu div p {
    font-size: 20px;
  }
  .seccionMenu div h1 {
    font-size: 8px;
  }
}
.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "masajes futbol exchange" "tango campo luggage";
  justify-content: center;
}
.servicios div {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.servicios div img {
  width: 100%;
}
.servicios div h5 {
  list-style: none;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 0;
  padding: 20px;
  color: #6b5d4d;
  background: rgb(223, 205, 180);
  background: radial-gradient(circle, rgb(223, 205, 180) 0%, rgb(255, 255, 255) 100%);
  text-align: center;
}
.servicios div .boton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.servicios div .boton a {
  background-color: #6b5d4d;
  border: #6b5d4d;
  color: white;
}
.servicios div .boton a:hover {
  --bs-btn-hover-bg: #dfcdb4;
  --bs-btn-hover-border-color: #dfcdb4;
  --bs-btn-bg: #dfcdb4;
  --bs-btn-border-color: #dfcdb4;
  --bs-btn-active-bg: #dfcdb4;
  --bs-btn-active-border-color: #dfcdb4;
}
.servicios div p {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
}

.masajes {
  grid-area: masajes;
}

.futbol {
  grid-area: futbol;
}

.exchange {
  grid-area: exchange;
}

.tango {
  grid-area: tango;
}

.campo {
  grid-area: campo;
}

.luggage {
  grid-area: luggage;
}

/*Pantalla 768-900*/
@media screen and (max-width: 900px) {
  .servicios {
    width: auto;
  }
  .servicios div {
    margin: 10px;
  }
  .servicios div h5 {
    font-size: 20px;
  }
  .servicios div p {
    font-size: 15px;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 660px) {
  .servicios {
    display: flex;
    flex-direction: column;
  }
  .servicios div img {
    align-self: center;
  }
  .servicios div div {
    padding: 0;
  }
}
.ubicacion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "palermo guido uriburu";
  justify-content: center;
}
.ubicacion .guido, .ubicacion .palermo, .ubicacion .uriburu {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
.ubicacion .guido img, .ubicacion .palermo img, .ubicacion .uriburu img {
  width: 100%;
}
.ubicacion .guido li, .ubicacion .palermo li, .ubicacion .uriburu li {
  list-style: none;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 20px;
  color: #6b5d4d;
  background: rgb(223, 205, 180);
  background: radial-gradient(circle, rgb(223, 205, 180) 0%, rgb(255, 255, 255) 100%);
  text-align: center;
}
.ubicacion .guido a, .ubicacion .palermo a, .ubicacion .uriburu a {
  text-decoration: none;
  color: #6b5d4d;
  text-align: center;
  font-size: 15px;
}
.ubicacion .guido p, .ubicacion .palermo p, .ubicacion .uriburu p {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
}
.ubicacion .guido .boton, .ubicacion .palermo .boton, .ubicacion .uriburu .boton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.ubicacion .guido .boton a, .ubicacion .palermo .boton a, .ubicacion .uriburu .boton a {
  background-color: #6b5d4d;
  border: #6b5d4d 1px solid;
  color: white;
}
.ubicacion .guido .boton a:hover, .ubicacion .palermo .boton a:hover, .ubicacion .uriburu .boton a:hover {
  background-color: #dfcdb4;
  color: white;
  border: #6b5d4d 1px solid;
}

.guido {
  grid-area: guido;
}

.uriburu {
  grid-area: uriburu;
}

.palermo {
  grid-area: palermo;
}

/*Pantalla 768-900*/
@media screen and (max-width: 900px) {
  .ubicacion .guido, .ubicacion .palermo, .ubicacion .uriburu {
    margin: 10px;
  }
  .ubicacion .guido li, .ubicacion .palermo li, .ubicacion .uriburu li {
    font-size: 20px;
  }
  .ubicacion .guido p, .ubicacion .palermo p, .ubicacion .uriburu p {
    font-size: 15px;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 660px) {
  .ubicacion {
    display: flex;
    flex-direction: column;
  }
  .ubicacion .guido, .ubicacion .palermo, .ubicacion .uriburu {
    margin: 40px;
  }
  .ubicacion .guido li, .ubicacion .palermo li, .ubicacion .uriburu li {
    font-size: 30px;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 500px) {
  .ubicacion .guido, .ubicacion .uriburu, .ubicacion .palermo {
    margin: 20px;
  }
  .ubicacion .guido li, .ubicacion .uriburu li, .ubicacion .palermo li {
    font-size: 20px;
  }
  .ubicacion .guido a, .ubicacion .uriburu a, .ubicacion .palermo a {
    font-size: 10px;
  }
}
.reservas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  padding: 10px;
  background-color: #dfcdb4;
  border-radius: 10px;
}
.reservas div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  width: 300px;
  height: 100px;
}
.reservas div label {
  font-family: "Acme", sans-serif;
  color: #6b5d4d;
  font-size: 20px;
}
.reservas div select, .reservas div input {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  color: #6b5d4d;
  border: #6b5d4d 1px solid;
  margin: 0;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.input a {
  background-color: #6b5d4d;
  font-family: "Acme", sans-serif;
  font-size: 20px;
  border: #6b5d4d;
  color: white;
  margin: 10px;
  width: 50%;
}
.input a:hover {
  --bs-btn-hover-bg: #dfcdb4;
  --bs-btn-hover-border-color: #dfcdb4;
  --bs-btn-bg: #dfcdb4;
  --bs-btn-border-color: #dfcdb4;
  --bs-btn-active-bg: #dfcdb4;
  --bs-btn-active-border-color: #dfcdb4;
}
.input p {
  font-family: "Acme", sans-serif;
  color: red;
  font-size: 20px;
  text-align: center;
}
.input .cajaTarifa {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: wrap;
}
.input .seleccionador {
  width: 20px;
  height: 20px;
}
.input .seleccionador:checked {
  background-color: red;
  border-color: red;
}
.input .precio {
  width: 300px;
  background-color: red;
  border-radius: 10px;
  margin: 10px 0;
}
.input .precio h4 {
  font-family: "Acme", sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}
.input .tarifario h5 {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #6b5d4d;
}
.input .tarifario li {
  font-family: "Lato", sans-serif;
  color: #6b5d4d;
  font-size: 15px;
  margin: 10px 0;
  list-style: none;
}
.input .tarifario li img {
  width: 25px;
}

.formularioReserva {
  margin: 50px;
  padding: 10px;
  background-color: #dfcdb4;
  border-radius: 10px;
}
.formularioReserva div p {
  font-family: "Acme", sans-serif;
  font-size: 30px;
  color: #6b5d4d;
  text-align: center;
}
.formularioReserva div {
  font-family: "Acme", sans-serif;
  font-weight: 200;
  color: #6b5d4d;
}
.formularioReserva div select, .formularioReserva div input {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  color: #6b5d4d;
  border: #6b5d4d 1px solid;
  margin: 0;
}
.formularioReserva div div .check:checked {
  background-color: #6b5d4d;
  border-color: #6b5d4d;
}
.formularioReserva .botonReserva {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.formularioReserva .botonReserva button {
  background-color: #6b5d4d;
  font-family: "Acme", sans-serif;
  font-size: 20px;
  border: #6b5d4d 1px solid;
  color: white;
  margin: 10px;
  width: 50%;
}
.formularioReserva .botonReserva button:hover {
  background-color: #dfcdb4;
  color: #6b5d4d;
  border: #6b5d4d 1px solid;
}

/*Pantalla 900*/
@media screen and (max-width: 900px) {
  .reservas {
    margin: 50px 20px;
  }
  .reservas div {
    width: 150px;
  }
  .formularioReserva {
    margin: 50px 20px;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 768px) {
  .reservas div {
    width: 250px;
  }
  .formularioReserva div p {
    font-size: 25px;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 560px) {
  .reservas div {
    width: 100%;
    height: 80px;
  }
  .formularioReserva div p {
    font-size: 20px;
  }
  .formularioReserva div label, .formularioReserva div input, .formularioReserva div select {
    font-size: 15px;
  }
  .formularioReserva .botonReserva button {
    font-size: 15px;
  }
}
.cajaContactos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.cajaContactos .cajaUbi {
  width: 50%;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}
.cajaContactos .cajaUbi .ubiThames, .cajaContactos .cajaUbi .ubiRecoleta {
  margin: 10px 0;
}
.cajaContactos .cajaUbi .ubiThames .distancias, .cajaContactos .cajaUbi .ubiRecoleta .distancias {
  font-family: "Lato", sans-serif;
  color: #6b5d4d;
  font-weight: 400;
  font-size: 15px;
}
.cajaContactos .cajaUbi .ubiThames .distancias h5, .cajaContactos .cajaUbi .ubiRecoleta .distancias h5 {
  font-family: "Acme", sans-serif;
  font-size: 25px;
  text-align: center;
  background: rgb(223, 205, 180);
  background: radial-gradient(circle, rgb(223, 205, 180) 0%, rgb(255, 255, 255) 100%);
}
.cajaContactos .contacto {
  width: 50%;
  margin: 20px 40px;
}
.cajaContactos .contacto .encabezadoFormulario p, .cajaContactos .contacto .encabezadoFormulario .num, .cajaContactos .contacto .encabezadoFormulario .correo {
  font-family: "Lato", sans-serif;
  color: #6b5d4d;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.cajaContactos .contacto .encabezadoFormulario div .icon {
  width: 20px;
}
.cajaContactos .contacto .formulario form {
  margin: 0;
  background-color: #dfcdb4;
  border-radius: 10px;
}
.cajaContactos .contacto .formulario form div p {
  font-family: "Acme", sans-serif;
  font-size: 30px;
  color: #6b5d4d;
  text-align: center;
}
.cajaContactos .contacto .formulario form div label {
  font-family: "Acme", sans-serif;
  font-weight: 200;
  color: #6b5d4d;
  font-size: 15px;
  text-align: start;
}
.cajaContactos .contacto .formulario form div select, .cajaContactos .contacto .formulario form div input {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  color: #6b5d4d;
  border: #6b5d4d 1px solid;
  margin: 0;
}
.cajaContactos .contacto .formulario form div div .check:checked {
  background-color: #6b5d4d;
  border-color: #6b5d4d;
}
.cajaContactos .contacto .formulario form .botonContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cajaContactos .contacto .formulario form .botonContacto button {
  background-color: #6b5d4d;
  font-family: "Acme", sans-serif;
  font-size: 20px;
  border: #6b5d4d 1px solid;
  color: white;
  margin: 10px;
  width: 50%;
}
.cajaContactos .contacto .formulario form .botonContacto button:hover {
  background-color: #dfcdb4;
  color: #6b5d4d;
  border: #6b5d4d 1px solid;
}

/*Pantalla 900*/
@media screen and (max-width: 900px) {
  .cajaContactos .cajaUbi {
    margin: 20px;
  }
  .cajaContactos .contacto {
    margin: 20px;
  }
  .cajaContactos .contacto .encabezadoFormulario div, .cajaContactos .contacto .encabezadoFormulario p {
    font-size: 12px;
  }
  .cajaContactos .contacto .formulario form div p {
    font-size: 20px;
  }
  .cajaContactos .contacto .formulario form div label, .cajaContactos .contacto .formulario form div input, .cajaContactos .contacto .formulario form div select {
    font-size: 12px;
  }
  .cajaContactos .contacto .formulario form .botonContacto button {
    font-size: 15px;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 768px) {
  .cajaContactos {
    flex-direction: column;
    padding: 20px;
  }
  .cajaContactos .cajaUbi {
    flex-direction: row;
    width: 100%;
  }
  .cajaContactos .contacto {
    width: 80%;
  }
  .cajaContactos .contacto .encabezadoFormulario div, .cajaContactos .contacto .encabezadoFormulario p {
    font-size: 12px;
  }
  .cajaContactos .contacto .formulario form div p {
    font-size: 25px;
  }
  .cajaContactos .contacto .formulario form div label, .cajaContactos .contacto .formulario form div input, .cajaContactos .contacto .formulario form div select {
    font-size: 15px;
  }
  .cajaContactos .contacto .formulario form .botonContacto button {
    font-size: 15px;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 500px) {
  .cajaContactos .cajaUbi {
    flex-direction: column;
  }
  .cajaContactos .cajaUbi .distancias {
    font-size: 15px;
  }
  .cajaContactos .cajaUbi .distancias h5 {
    font-size: 20px;
  }
  .cajaContactos .contacto {
    width: 100%;
  }
  .cajaContactos .contacto .formulario form div p {
    font-size: 20px;
  }
}
footer {
  margin-top: 20px;
  width: auto;
  background-color: #dfcdb4;
  border-top: 2px solid #6b5d4d;
  border-bottom: 2px solid #6b5d4d;
}
footer section {
  text-align: center;
  font-family: "Acme", sans-serif;
  padding: 10px 40px;
  background-color: #6b5d4d;
  color: white;
}
footer section h3 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0px 0px 3px black);
}
footer section p {
  filter: drop-shadow(0px 0px 3px black);
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer div .menuFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div .menuFooter div ul {
  margin: 0;
}
footer div .menuFooter div ul li {
  list-style: circle;
  text-align: start;
}
footer div .menuFooter div ul li a {
  text-decoration: none;
  color: #6b5d4d;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
footer div .menuFooter div ul li a:hover {
  filter: drop-shadow(0px 0px 3px #6b5d4d);
}
footer div .redesFooter {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div .redesFooter p {
  text-align: center;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #6b5d4d;
  padding: 0;
  margin: 0;
}
footer div .redesFooter li {
  color: #6b5d4d;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
footer div .redesFooter li .redes {
  width: 40px;
  height: 40px;
}
footer div .redesFooter li .redes img {
  width: 100%;
}
footer div .imgFooter {
  width: 150px;
  filter: drop-shadow(0px 0px 2px black);
}

/*Pantalla 768-900*/
@media screen and (max-width: 900px) {
  footer div .menuFooter div ul li a {
    font-size: 15px;
  }
  footer div .menuFooter .imgFooter {
    padding: 5px;
    height: 150px;
  }
  footer div iframe {
    padding: 5px;
    width: 200px;
  }
  footer div .redesFooter li {
    font-size: 10px;
  }
}
/*Pantalla 660-768*/
@media screen and (max-width: 660px) {
  footer div .menuFooter div ul li a {
    font-size: 10px;
  }
  footer div .menuFooter .imgFooter {
    height: 100px;
    width: 90px;
  }
  footer div iframe {
    width: 150px;
    height: 100px;
  }
  footer div ul li {
    font-size: 8px;
  }
}
/*Pantalla 320-500*/
@media screen and (max-width: 500px) {
  footer section h3 {
    font-size: 15px;
    padding: 0;
  }
  footer div .redesFooter {
    padding: 5px;
  }
  footer div .redesFooter p {
    font-size: 15px;
    padding: 0;
  }
  footer div .redesFooter li {
    font-size: 6px;
  }
  footer div .redesFooter li .redes {
    width: 20px;
    height: 20px;
  }
  footer div .menuFooter .imgFooter {
    height: 80px;
    width: 70px;
  }
  footer div .menuFooter div ul {
    padding: 8px;
  }
  footer div .menuFooter div ul li a {
    font-size: 8px;
  }
  footer div iframe {
    width: 100px;
    height: 60px;
    padding: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
