*{
    margin: 0%;
    padding: 0%;
}


@import "base/variables";
@import "base/listas";
@import "base/extend";
@import "base/mixin";
@import "base/mapa";
@import "componentes/header";
@import "componentes/index";
@import "componentes/titulopages";
@import "componentes/servicios";
@import "componentes/ubicaciones";
@import "componentes/footer";