*{
    margin: 0%;
    padding: 0%;
}

/*Encabezado de Pagina */

header, main, section, footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
header {
    width: auto;
    background-color: #dfcdb4;
}
#video {
    width: 100%;
}
#logo {
    grid-area: logo;
    justify-self: center;
    border-radius: 40%;
    width: 100px;
    filter: drop-shadow(0px 0px 3px black);
}

.encabezado{
    padding-top: 15px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo menu menu menu menu menu"
    "logo reser reser reser reser reser";
    background: rgb(223,205,180);
    background: linear-gradient(0deg, rgba(223,205,180,1) 0%, rgba(107,93,77,1) 100%);
}

.menuPrincipal{
    grid-area: menu;
    width: auto;
    align-self: center;
    
}
nav ul{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
}
nav ul li{
    background-color: #6b5d4d;    
    padding: 5px;
    width: 20%;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
}
nav ul li:hover{
    transform: scale(0.9);
}
nav ul li a, a:-webkit-any-link {
    text-decoration: none;
    color: white;
    width: auto;
}
.reservasInicio{    
    grid-area: reser;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "ubi checkin checkout hab tarif";

    width: auto;
    position: sticky;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #6b5d4d;
}

.ubiDepto{
    display: flex;
    flex-direction: column;
    grid-area: ubi;
}
.checkin{
    display: flex;
    flex-direction: column;
    grid-area: checkin;
}
.checkout{
    display: flex;
    flex-direction: column;
    grid-area: checkout;
}
.tipoHabitacion{
    display: flex;
    flex-direction: column;
    grid-area: hab;
}
.tarifas{
    display: flex;
    flex-direction: column;
    grid-area: tarif;
    justify-self: center;
    align-self: center;
    text-align: center;
    border: none;
    font-family: 'Acme', sans-serif;
}
.tarifas:hover{
    transform: scale(1.2)
}

form select, form input{
    background-color: #dfcdb4;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-decoration: underline;
    border-radius: 30px;
    padding: 5px;
    color: #6b5d4d;
    border: 6b5d4d 1px solid;
    margin: 0;
}

.titulo{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}
.textoTitulo{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6839110644257703) 5%, rgba(255,255,255,0) 100%);
}
.bienvenidos{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    filter: drop-shadow(0px 0px 3px black);
}
.ayresapartments{
    font-size: 60px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    color: white;
    filter: drop-shadow(0px 0px 3px black);
}



/*Pagina Principal*/


.cajaPrincipal {
    margin: 0 80px;
    padding: 10px;
    grid-area: txt;
    display: grid;
    width: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "h2 h2 h2"
    "p1 p1 ba"
    "caminito p2 p2"
    "p3 p3 galileo"   
}
.quienesSomos{
    grid-area: h2;
    color: #6b5d4d;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.ba{
    grid-area: ba;
}
.caminito{
    grid-area: caminito;
}
.galileo{
    grid-area: galileo;
}

.p1, .p2, .p3{
    padding: 0 100px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}
.cajaPrincipal p:hover{
    transform: scale(1.2);
    transition: 2s;
}
.ba, .galileo, .caminito{
    width: 100%;
    border-radius: 30%;
    padding: 10px;
    filter: drop-shadow(0px 0px 8px #6b5d4d);
}

.opiniones{
    grid-area: opiniones;
    font-size: 80px;
    text-align: center;
    border: 2px black solid;
}

/*Galeria*/

.ubiGaleria{
    margin-top: 100px;
}
.ubiGaleria p{
    color: #6b5d4d;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}
.Galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0 150px;
    padding: 0;
}

.tituloGaleria{
    font-family: 'Acme', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-top: 5px;
}
.palermoGaleria, .guidoGaleria, .uriburuGaleria {
    text-align: center;
    padding: 0;
    margin: 10px;
    border: 1px solid #dfcdb4;
    border-radius: 5%;
    padding: 50px 20px;
    filter: drop-shadow(0px 0px 0.5px grey);
}

.palermoGaleria .verMas, .guidoGaleria .verMas, .uriburuGaleria .verMas{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 25px;
    width: 100%;
    padding: 0 ;
    border: #6b5d4d solid 2px;
    color: white;
    background-color: #6b5d4d;
    flex-direction: row;
}
.verMas:hover {
    --bs-btn-hover-bg: #dfcdb4;
    --bs-btn-hover-border-color: #dfcdb4; 
    --bs-btn-bg: #dfcdb4;
    --bs-btn-border-color: #dfcdb4;
    --bs-btn-active-bg: #dfcdb4;
    --bs-btn-active-border-color: #dfcdb4;
}
.imgGaleria{
    width: 350px;
    filter: drop-shadow(0px 0px 2px black);
    border-radius: 10%;
}
.imgGaleria:hover{
    transform: scale(1.1);
    transition: 1.5s;
}


main form label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}


/*Seccion de Menu*/

.seccionMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}
.tituloMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6839110644257703) 7%, rgba(255,255,255,0) 100%);
}
.tituloPrincipal{
    font-size: 60px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    color: white;
    filter: drop-shadow(0px 0px 3px black);
}
main ul a {
    padding: 10px;
}


/*Servicios*/


.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "masajes futbol exchange"
    "tango campo luggage";
    justify-content: center;
}
.masajes{
    grid-area: masajes;
}
.futbol{
    grid-area: futbol;
}
.exchange{
    grid-area: exchange;
}
.tango{
    grid-area: tango;
}
.campo{
    grid-area: campo;
}
.luggage{
    grid-area: luggage;
}

.masajes, .futbol, .exchange, .tango, .campo, .luggage{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgmasaje, #imgfutbol, #imgluggage, #imgmoneda, #imgtango, #imgcampo {
    width: 100%;
}

.servicios div h5{
    list-style: none;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 0;
    padding: 20px;
    color: #6b5d4d;
    background: rgb(223,205,180);
    background: radial-gradient(circle, rgba(223,205,180,1) 0%, rgba(255,255,255,1) 100%);    
    text-align: center;
}
.boton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.reservasServicios {
    background-color: #6b5d4d;
    border: #6b5d4d;
}
.reservasServicios:hover {
    --bs-btn-hover-bg: #dfcdb4;
    --bs-btn-hover-border-color: #dfcdb4; 
    --bs-btn-bg: #dfcdb4;
    --bs-btn-border-color: #dfcdb4;
    --bs-btn-active-bg: #dfcdb4;
    --bs-btn-active-border-color: #dfcdb4;
}
.servicios div p, .carrusel{
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}


/*Ubicaciones*/

.ubicacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "palermo guido uriburu";
    justify-content: center;
}
.guido{
    grid-area: guido;
}
.uriburu{
    grid-area: uriburu;
}
.palermo{
    grid-area: palermo;
}

.guido, .uriburu, .palermo{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.imgguido, .imgpalermo, .imguriburu{
    width: 100%;
}
.ubicacion div li{
    list-style: none;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 20px;
    color: #6b5d4d;
    background: rgb(223,205,180);
    background: radial-gradient(circle, rgba(223,205,180,1) 0%, rgba(255,255,255,1) 100%);    
    text-align: center;
}
.ubicacion div a{
    text-decoration: none;
    color: #6b5d4d;
    text-align: center;
    font-size: 15px;
}
.ubicacion div p{
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}




/*Footer*/

footer{
    margin-top: 20px;
    width: auto;
    background-color: #fbeed3;
    border-top: 2px solid #6b5d4d;
    border-bottom: 2px solid #6b5d4d;
}
footer img {
    width: 150px;
    filter: drop-shadow(0px 0px 1px black);

}
.tituloFooter {
    text-align: center;
    font-family: 'Acme', sans-serif;
    padding: 10px 40px;
    background-color: #6b5d4d;
    color: white;
}
footer section h3, footer section p{
    filter: drop-shadow(0px 0px 3px black);
}
p{
    margin-bottom: 0;
}
footer section h3, #redes {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.redesFooter, .imgFooter, .iframeFooter {
    list-style: none;
    padding: 0;
    margin: 0;

}
.redesFooter{
    display: flex;
    flex-direction: column;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.redesFooter li a{
    text-decoration: underline;
    color: black;
    padding: 0;
    margin: 0;
}

/*Pantalla 768-900*/

@media screen and (max-width:900px) {
    .encabezado{
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: 
        "logo menu menu menu menu menu"
        "reser reser reser reser reser reser";
    }
    .reservasInicio{
        border-top: #6b5d4d 1px solid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
        text-align: center;
    }
    .cajaPrincipal{
        margin: 0 10px;
    }
    .p1, .p2, .p3{
        padding: 0 50px;
    }
    .Galeria {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    }
    section article img{ 
        width: 400px;
    }
    .tituloPrincipal{
        font-size: 30px;
        }
    .servicios div li, .ubicacion div li{
        font-size: 20px;
    }
    .servicios div p, .carrusel, .ubicacion div p{
    font-size: 15px;
    }
    .masajes, .futbol, .exchange, .tango, .campo, .luggage, .guido, .uriburu, .palermo{
        margin: 10px;
    }
    footer img {
    height: 150px;
    }
    .redesFooter li{
    font-size: 10px;
    }
    .iframeFooter{
    width: 200px;
    }
    .redesFooter, .imgFooter, .iframeFooter {
        padding: 5px;
    }
    footer div{
        justify-content: space-between;   
    } 
}


/*Pantalla 660-768*/
@media screen and (max-width:660px) {
    #logo {
        width: 60px;
    }  
    nav ul li {
        font-size: 15px;
    }
    .reservasInicio{    
    font-size: 10px;
    }
    form select, form input{
            font-size: 10px;
    }   
    .bienvenidos{
        font-size: 20px;
    }
    .ayresapartments, .ubiGaleria p, .quienesSomos{   
        font-size: 35px;
    }
    .p1, .p2, .p3{
        font-size: 15px;
    }   
    .galileo, .caminito, .ba{
        filter: drop-shadow(0px 0px 2px #6b5d4d);
        margin: 0%;
        padding: 0;
    }
    .ubiGaleria{
        margin: 20px 0;
    }
    .Galeria{
        margin: 10px 0;
    }

    .inicio{
        width: auto;
        padding: 5% 0;
    }    
    .imgCarrusel:hover{
        transform: none;
        transition: none;
    }
    
    .servicios, .ubicacion{
        display: flex;
        flex-direction: column;
    }    
    #imgmasaje, #imgfutbol, #imgluggage, #imgmoneda, #imgtango, #imgcampo {
        width: 300px;
        align-self: center;
    }        
    .guido, .uriburu, .palermo{
        margin: 40px;
    }

    .imgFooter{
        height: 100px;
            width: 90px;
    }
    .redesFooter li{
        font-size: 8px;
    }
    .iframeFooter{
        width: 150px;
        height: 100px;
    }
    .redesFooter, .imgFooter, .iframeFooter {
        padding: 5px;
    }
    footer div{
        justify-content: space-between;   
    } 
}       



/*Pantalla 320-500*/
@media screen and (max-width:500px) {

    #logo {
        width: 40px;
    }  
    nav ul li{
        font-size: 8px;
    }
    .reservasInicio{    
    display: none;
    }  
    .encabezado{
        grid-template-rows: 1fr;
    }
    
    .bienvenidos{
        font-size: 10px;
    }
    .ayresapartments, .ubiGaleria p, .quienesSomos{   
        font-size: 20px;
    }
    .p1, .p2, .p3{
        padding: 0 30px;
        font-size: 10px;
    }   
    .ubiGaleria{
        margin: 10px 0;
    }
    .Galeria{
        margin: 20px 0;
    }
    section article img{ 
        width: auto;
    }
    section article {
        font-size: 8px;
    }
    section article p{
        font-size: 20px;
    }
    
    .guido, .uriburu, .palermo{
        margin: 20px;
    }
    .servicios div li, .ubicacion div li{
        font-size: 15px;
    }
    .servicios div p, .carrusel, .ubicacion div p{
    font-size: 10px;
    }
    .ubicacion div a{
        font-size: 10px;
    }    

    footer section h3, #redes {
        font-size: 15px;
        padding: 0;
    }    
    .imgFooter{
        height: 60px;
        width: 50px;
    }
    .redesFooter li{
        font-size: 6px;
    }
    .iframeFooter{
        width: 100px;
        height: 60px;
    }
    .redesFooter, .imgFooter, .iframeFooter {
        padding: 5px;
    }
}       


  
