%disposicionrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
}


%disposicioncolumn{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

%tituloPrincipal{
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: white;
    filter: drop-shadow(0px 0px 3px black);
}