/*Brackgrown Color*/

$bg-darkbrown: #6b5d4d;
$bg-lightbrown: #dfcdb4;
$bg-header: linear-gradient(0deg, rgba(223,205,180,1) 0%, rgba(107,93,77,1) 100%);
$bg-video: radial-gradient(circle, rgba(0,0,0,0.6839110644257703) 7%, rgba(255,255,255,0) 100%);

/*Font Family*/

$txt-principal : 'Acme', sans-serif;
$txt-secundario : 'Lato', sans-serif;
