footer{
    margin-top: 20px;
    width: auto;
    background-color: $bg-lightbrown;
    border-top: 2px solid $bg-darkbrown;
    border-bottom: 2px solid $bg-darkbrown;
    section{
        text-align: center;
        font-family: $txt-principal;
        padding: 10px 40px;
        background-color: $bg-darkbrown;
        color: white;   
        h3{
            text-align: center;
            font-weight: 400;
            font-size: nth($fontsize , 2 );
            padding: 0;
            margin: 0; 
            filter: drop-shadow(0px 0px 3px black);       
        } 
        p{
            filter: drop-shadow(0px 0px 3px black);       
        }
    }
    div{
        @extend %disposicionrow;
        flex-wrap: wrap;    
        ul{
            list-style: none;
            padding: 0;
            margin: 0;      
            @extend %disposicioncolumn;
            p{
                text-align: center;
                font-family: $txt-principal;
                font-weight: 400;
                font-size: nth($fontsize , 2 );
                padding: 0;
                margin: 0;
            }
            li{
                a{
                    text-decoration: underline;
                    color: black;
                    padding: 0;
                    margin: 0;                
                }
            }
        }
        img{
            width: 150px;
            filter: drop-shadow(0px 0px 1px black);
        }        
    }

}


/*Pantalla 768-900*/

@media screen and (max-width:900px) {
    footer div{
            justify-content: space-between;   
            img{
                padding: 5px;
                height: 150px;
            }
            iframe{
                padding: 5px;
                width: 200px;
            }
            ul li{
                font-size: 10px;
            }
    }
}


/*Pantalla 660-768*/
@media screen and (max-width:660px) {
    footer div{
        img{
            height: 100px;
            width: 90px;
        }
        iframe{
            width: 150px;
            height: 100px;
            }
        ul li{
            font-size: 8px;
        }
    }
}


/*Pantalla 320-500*/
@media screen and (max-width:500px) {
    footer{
        section{
            h3{
                font-size: 15px;
                padding: 0;
           }
        }
        div{
            ul{
                padding: 5px;
                p{
                    font-size: 15px;
                    padding: 0;
                }
                li{
                    font-size: 6px;
                }
            }
            img{
                padding: 5px;
            }
            iframe{
                width: 100px;
                height: 60px;
                padding: 5px;
            }
        }
    }
}

