#video {
    width: 100%;
}
#logo {
    justify-self: center;
    border-radius: 40%;
    width: 100px;
    filter: drop-shadow(0px 0px 3px black);
}

header{
    width: auto;
    background-color: #dfcdb4;
    .encabezado{
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
        "menu menu menu menu menu"
        "reser reser reser reser reser";
        background: $bg-lightbrown;
        background: $bg-header;
        .menuPrincipal{
            padding: 0;
            grid-area: menu;
            width: auto;
            justify-content: space-evenly;
        }
        .reservasInicio{
            grid-area: reser;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
            grid-template-areas: 
            "ubi checkin checkout hab tarif";
            width: auto;
            position: sticky;
            font-family: $txt-principal;
            font-size: nth($fontsize , 1 );
            font-weight: 600;
            color: $bg-darkbrown;
            .ubiDepto{
                display: flex;
                flex-direction: column;
                grid-area: ubi;
                align-self: center;
            }
            .checkin{
                display: flex;
                flex-direction: column;
                grid-area: checkin;
                align-self: center;
            }
            .checkout{
                display: flex;
                flex-direction: column;
                grid-area: checkout;
                align-self: center;
            }
            .tipoHabitacion{
                display: flex;
                flex-direction: column;
                grid-area: hab;
                align-self: center;
            
            }
            .tarifas{
                display: flex;
                flex-direction: column;
                grid-area: tarif;
                justify-self: center;
                align-self: center;
                text-align: center;
                border: none;
                font-family: $txt-principal;
                &:hover{
                    transform: scale(1.2)
                }
            }            
            select, input{
                background-color: $bg-lightbrown;
                font-family: $txt-secundario;
                font-size: nth($fontsize , 1 );
                text-decoration: underline;
                border-radius: 30px;
                padding: 5px;
                color: $bg-darkbrown;
                border: $bg-darkbrown 1px solid;
                margin: 0;  
            }
        }    
    }
    .titulo{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: black;
            div{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: black;
                background: $bg-video;            
            p{
                font-size: nth($fontsize, 4 );
                font-family: $txt-secundario;
                color: white;
                filter: drop-shadow(0px 0px 3px black);            
            }
            h1{
                font-size: nth($fontsize, 6 );
                font-family: $txt-principal;
                font-weight: 400;
                color: white;
                filter: drop-shadow(0px 0px 3px black);
            }
        }

    }
}
.barra ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
    li{
        background-color: $bg-darkbrown;    
        padding: 5px;
        width: 20%;
        font-family: $txt-principal;
        font-size: nth($fontsize, 2);
        font-weight: 400;
        text-align: center;
        border-radius: 30px;
        &:hover{
            transform: scale(0.9);
        }
        a, a:-webkit-any-link{
            text-decoration: none;
            color: white;
            width: auto;        
        }
    }
        
}