#video {
    width: 100%;
}
#logo {
    justify-self: center;
    border-radius: 40%;
    width: 100px;
    filter: drop-shadow(0px 0px 3px black);
}

header{
    width: auto;
    background-color: #dfcdb4;
    .encabezado{
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: 
        "menu menu menu menu menu"
        "reser reser reser reser reser";
        background: $bg-lightbrown;
        background: $bg-header;
        .menuPrincipal{
            padding: 0;
            grid-area: menu;
            width: auto;
            justify-content: space-evenly;
        }
        .reservasInicio{
            grid-area: reser;
            margin: 0 30px 5px;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
            grid-template-areas: 
            "ubi checkin checkout hab tarif";
            width: auto;
            font-family: $txt-principal;
            font-size: nth($fontsize , 1 );
            font-weight: 600;
            color: $bg-darkbrown;
            .ubiDepto{
                grid-area: ubi;
                @include disposicion(flex, column, center, none);
            }
            .checkin{
                grid-area: checkin;
                @include disposicion(flex, column, center, none);
            }
            .checkout{
                grid-area: checkout;
                @include disposicion(flex, column, center, none);
            }
            .tipoHabitacion{
                grid-area: hab;
                @include disposicion(flex, column, center, none);
            
            }
            .tarifas{
                grid-area: tarif;
                justify-self: center;
                @include disposicion(flex, column, center, center);
                text-align: center;
                border: none;
                font-family: $txt-principal;
                &:hover{
                    transform: scale(1.2)
                }
            }            
            select, input{
                background-color: $bg-lightbrown;
                font-family: $txt-secundario;
                font-size: nth($fontsize , 1 );
                text-decoration: underline;
                border-radius: 30px;
                padding: 5px;
                color: $bg-darkbrown;
                border: $bg-darkbrown 1px solid;
                margin: 0;  
            }
        }    
    }
}
.barra{
    img{
        display: none;
        width: 60%;
        align-self: flex-end;
    }
    p{
        display: none;
        font-family: $txt-principal;
        font-size: 30px;
        text-align: left;
        color: $bg-darkbrown;       
    }
    ul{
        width: 100%;
        height: auto;
        @include disposicion(flex, row, space-evenly, center);
        list-style: none;
        margin: 0%;
        padding: 0%;
        li{
            background-color: $bg-darkbrown;    
            padding: 5px;
            width: 20%;
            font-family: $txt-principal;
            font-size: nth($fontsize, 2);
            font-weight: 400;
            text-align: center;
            border-radius: 30px;
            &:hover{
                transform: scale(0.9);
            }
            a, a:-webkit-any-link{
                text-decoration: none;
                color: white;
                width: auto;        
            }
        }
    } 
}

/*Pantalla 768-990*/

@media screen and (max-width:990px) {
    .encabezado nav{
        div .barra{
            width: 50%;
            img{
                display: initial;
            }        
            p{
                display: initial;
            }
            h5{
                font-family: $txt-principal;
                font-size: 30px;
                text-align: center;
                color: $bg-darkbrown;       
            }
            ul{
                flex-direction: column;
                li{
                    width: 100%;
                    margin: 10px;
                }
            }
        } 
    }
}


@media screen and (max-width:718px) {
    .reservasInicio div{
        select, input, label{
            display: none;
        }
    }
}



/*Pantalla 660-768*/
@media screen and (max-width:660px) {
    #logo {
        width: 60px;
    }  
    .encabezado{
        grid-template-rows: 1fr;
        nav div .barra{
            img{
                width: 70%;
            }
            p{
                font-size: 20px;
            }
            h5{
                font-size: 25px;
            }
            ul li a {
                font-size: 15px;
            } 
        }
    }
    .reservasInicio{   
        font-size: 10px;
        width: 100%;
        div{
            select, input, label{
                display: none;
            }
        }
    }
}

/*Pantalla 320-500*/
@media screen and (max-width:500px) {
    #logo {
        width: 40px;
    }
    .encabezado nav div .barra{
        p{
            font-size: 15px;
        }
        h5{
            font-size: 20px;
        }
        ul li{
             a{
                font-size: 12px;
            }
        } 
    } 
}