.inicio{
    div{
        margin: 0 80px;
        padding: 10px;
        grid-area: txt;
        display: grid;
        width: auto;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "h2 h2 h2"
        "p1 p1 ba"
        "caminito p2 p2"
        "p3 p3 galileo" ;   
        h2{
            grid-area: h2;
            color: $bg-darkbrown;
            font-family: $txt-principal;
            font-size: nth($fontsize , 5 );
        }
        p{
            padding: 0 100px;
            font-family: $txt-secundario;
            font-size: nth($fontsize , 2 );
            text-align: center;        
            &:hover{
                transform: scale(1.2);
                transition: 2s;        
            }
        }
        img{
            width: 100%;
            border-radius: 30%;
            padding: 10px;
            filter: drop-shadow(0px 0px 8px $bg-darkbrown);        
        }
    }
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.ba{
    grid-area: ba;
}
.caminito{
    grid-area: caminito;
}
.galileo{
    grid-area: galileo;
}

.ubiGaleria{
    margin-top: 100px;
    p{
        color: $bg-darkbrown;
        font-family: $txt-principal;
        font-size: nth($fontsize , 5 );
        text-align: center;
        margin: 50px 0;    
    }
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 60px 0 150px;
        padding: 0;    
        article{
            text-align: center;
            padding: 0;
            margin: 10px;
            border: 1px solid $bg-lightbrown;
            border-radius: 5%;
            padding: 50px 20px;
            filter: drop-shadow(0px 0px 0.5px grey);
            h2{
                font-family: 'Acme', sans-serif;
                font-weight: 300;
                font-size: 25px;
                margin-top: 5px;            
            }
            div{
                font-family: $txt-secundario;
                font-weight: 100;
                font-size: nth($fontsize , 3 );
                width: 100%;
                padding: 0 ;
                border: $bg-darkbrown solid 2px;
                color: white;
                flex-direction: row;            
                a{
                    background-color: $bg-darkbrown;
                    border: $bg-darkbrown solid 2px;
                    &:hover{
                        --bs-btn-hover-bg: #dfcdb4;
                        --bs-btn-hover-border-color: #dfcdb4; 
                        --bs-btn-bg: #dfcdb4;
                        --bs-btn-border-color: #dfcdb4;
                        --bs-btn-active-bg: #dfcdb4;
                        --bs-btn-active-border-color: #dfcdb4;                
                    }    
                }
            }
            img{
                width: 350px;
                filter: drop-shadow(0px 0px 2px black);
                border-radius: 10%;
                &:hover{
                    transform: scale(1.1);
                    transition: 1.5s;                
                }              
            }
        
        }
    }
}

/*Pantalla 768-900*/

@media screen and (max-width:900px) {
    .inicio{
        div{
            margin: 0 10px;
            p{
                padding: 0 50px;
            }
        }
    }
    .ubiGaleria{
        .Galeria{
            flex-direction: column;
            justify-content: space-between;
            align-items: center; 
            img{
                width: 400px;
            }    
        }
    }
}


/*Pantalla 660-768*/

@media screen and (max-width:660px) {
    .inicio{
        width: auto;
        padding: 5px 0;
        div{
            h2{
                font-size: 35px;
            }
            p{
                font-size: 15px;
            }
            img{
                filter: drop-shadow(0px 0px 2px #6b5d4d);
                margin: 0%;
                padding: 0;
            }
        }
    }
    .ubiGaleria{
        margin: 20px 0;
        p{
            font-size: 35px;
        }
        .Galeria{
            margin: 10px 0;
        }
    }
}


/*Pantalla 320-500*/
@media screen and (max-width:500px) {
    .inicio{
        div{
            h2{
                font-size: 20px;
            }
            p{
                padding: 0 25px;
                font-size: 10px;
            }
        }
    }
    .ubiGaleria{
        margin: 10px 0;
        p{   
            font-size: 20px;
        }
        .Galeria{
            margin: 20px 0;
            article{
                padding: 30px 10px;
                h2{
                    font-size: 15px;
                }
                img{
                    width: 280px;
                }
                div a{
                    font-size: 15px;
                }
            }
        }
    } 
}


