.titulo{
    width: auto;
    height: 100%;
    @include disposicion(flex, column, center, center);
    position: relative;
    background-color: black;
        div{
            position: absolute;
            width: 100%;
            height: 100%;
            @include disposicion(flex, column, center, center);
            text-align: center;
            background: black;
            background: $bg-video;            
        p{
            @extend %tituloSecundario
        }
        .ayresapartments{
            margin: 0;
            @extend %tituloPrincipal
        }
        h1{
            margin: 0;
            @extend %tituloTerciario
        }
    }

}
.inicio{
    div{
        margin: 0 80px;
        padding: 10px;
        grid-area: txt;
        display: grid;
        width: auto;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-areas: 
        "h2 h2 h2"
        "p1 p1 ba"
        "caminito p2 p2"
        "p3 p3 galileo" ;   
        h2{
            grid-area: h2;
            color: $bg-darkbrown;
            font-family: $txt-principal;
            font-size: nth($fontsize , 5 );
        }
        p{
            padding: 0 100px;
            font-family: $txt-secundario;
            font-size: nth($fontsize , 2 );
            text-align: center;        
            &:hover{
                transform: scale(1.2);
                transition: 2s;        
            }
        }
        img{
            width: 100%;
            border-radius: 30%;
            padding: 10px;
            filter: drop-shadow(0px 0px 8px $bg-darkbrown);        
        }
    }
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.ba{
    grid-area: ba;
}
.caminito{
    grid-area: caminito;
}
.galileo{
    grid-area: galileo;
}

.ubiGaleria{
    margin-top: 100px;
    p{
        color: $bg-darkbrown;
        font-family: $txt-principal;
        font-size: nth($fontsize , 5 );
        text-align: center;
        margin: 50px 0;    
    }
    section{
        // @include disposicion(flex, row, space-evenly, center);
        // flex-wrap: wrap;
        display: grid;
        display: grid;
        width: auto;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas: 
        "palGal urGal griGal"
        "botPal botUr botGui" ;   
        margin: 60px 0 150px;
        padding: 0;   
        .palermoGaleria{
            grid-area: palGal;
        } 
        .uriburuGaleria{
            grid-area: urGal;
        }
        .guidoGaleria{
            grid-area: griGal;
        }
        .botonPalermo{
            grid-area: botPal;
        }
        .botonUri{
            grid-area: botUr;
        }
        .botonGuido{
            grid-area: botGui;
        }
        article{
            text-align: center;
            padding: 0;
            margin: 10px;
            border: 1px solid $bg-lightbrown;
            border-radius: 5%;
            padding: 20px 20px;
            filter: drop-shadow(0px 0px 0.5px grey);
            h2{
                font-family: 'Acme', sans-serif;
                color: $bg-darkbrown;
                font-weight: 300;
                font-size: 25px;
                margin-top: 20px;            
            }
            div{
                font-family: $txt-secundario;
                font-weight: 100;
                font-size: nth($fontsize , 3 );
                width: 100%;
                padding: 0 ;
                border: $bg-darkbrown solid 2px;
                color: white;
                flex-direction: row;            
                a{
                    background-color: $bg-darkbrown;
                    border: $bg-darkbrown solid 2px;
                    &:hover{
                        --bs-btn-hover-bg: #dfcdb4;
                        --bs-btn-hover-border-color: #dfcdb4; 
                        --bs-btn-bg: #dfcdb4;
                        --bs-btn-border-color: #dfcdb4;
                        --bs-btn-active-bg: #dfcdb4;
                        --bs-btn-active-border-color: #dfcdb4;                
                    }    
                }
            }
            img{
                width: 350px;
                filter: drop-shadow(0px 0px 2px black);
                border-radius: 10%;
                &:hover{
                    transform: scale(1.1);
                    transition: 1.5s;                
                }              
            }
        
        }
        button{
            font-family: $txt-secundario;
            background-color: $bg-darkbrown;
            font-weight: 300;
            font-size: nth($fontsize , 2 );
            border: $bg-darkbrown solid 2px;
            &:hover{
                --bs-btn-hover-bg: #dfcdb4;
                --bs-btn-hover-border-color: #dfcdb4; 
                --bs-btn-bg: #dfcdb4;
                --bs-btn-border-color: #dfcdb4;
                --bs-btn-active-bg: #dfcdb4;
                --bs-btn-active-border-color: #dfcdb4;                
            }    
        }
        div{
            h2{
                font-family: $txt-principal;
                color: $bg-darkbrown;       
                font-size: 20px;
                text-align: center;
            }
            img{
                margin: 20px 0;
                width: 100%;
            }
        }
        button a{
            text-decoration: none;
            color: white;
        }    
        
    }
}


/*Pantalla 1300*/

@media screen and (max-width:1300px){
    .ubiGaleria section{
        display: flex;
        flex-direction: column;
        article img{
            width: 500px;
        }
    }
}


/*Pantalla 768-900*/

@media screen and (max-width:900px) {
    .inicio{
        div{
            margin: 0 10px;
            p{
                padding: 0 50px;
            }
        }
    }
    .ubiGaleria{
        .Galeria article img{
                width: 400px;
        }    
    }
}


/*Pantalla 660-768*/

@media screen and (max-width:660px) {
    .titulo{
        .textoTitulo{
            p{
                font-size: 20px;
            }
            .ayresapartments{
                font-size: 35px;
            }
            h1{
                font-size: 10px;
            }
        }
    }
    .inicio{
        width: auto;
        padding: 5px 0;
        div{
            h2{
                font-size: 35px;
            }
            p{
                font-size: 15px;
            }
            img{
                filter: drop-shadow(0px 0px 2px #6b5d4d);
                margin: 0%;
                padding: 0;
            }
        }
    }
    .ubiGaleria{
        margin: 20px 0;
        p{
            font-size: 35px;
        }
        .Galeria{
            margin: 10px 0;
        }
    }
}


/*Pantalla 320-500*/
@media screen and (max-width:500px) {
    .titulo{
        .textoTitulo{
            p{
                font-size: 10px;
            }
            .ayresapartments{
                font-size: 20px;
            }
            h1{
                font-size: 8px;
            }
        }
    }
    .inicio{
        div{
            h2{
                font-size: 20px;
            }
            p{
                padding: 0 25px;
                font-size: 10px;
            }
        }
    }
    .ubiGaleria{
        margin: 10px 0;
        p{   
            font-size: 20px;
        }
        .Galeria{
            margin: 20px 0;
            article{
                padding: 30px 10px;
                h2{
                    font-size: 15px;
                }
                img{
                    width: 280px;
                }
            }
            button{
                font-size: 15px;
            }
        }
    } 
}


/*Pantalla 280px - 300px*/

@media screen and (max-width:300px){
    .ubiGaleria{
        .Galeria{
            article{
                img{
                    width: 250px;
                }
            }
        }
    } 
}