
.reservas{
    @include disposicion(flex, row, space-evenly, center);
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    background-color: $bg-lightbrown; 
    border-radius: 10px;  
    div{
        @include disposicion(flex, column, center, none);
        width: 300px;
        height: 100px;
        label{
            font-family: $txt-principal;
            color: $bg-darkbrown;
            font-size: 20px;
        }
        select, input{
            font-family: $txt-secundario;
            font-size: 15px;
            border-radius: 10px;
            padding: 5px;
            color: $bg-darkbrown;
            border: $bg-darkbrown 1px solid;
            margin: 0;  
        }
    }
}

.input{
    @include disposicion(flex, column, none, center);
    a{
        background-color: $bg-darkbrown;
        font-family: $txt-principal;
        font-size: 20px;
        border: $bg-darkbrown;
        color: white;
        margin: 10px;
        width: 50%;
        &:hover{
            --bs-btn-hover-bg: #dfcdb4;
            --bs-btn-hover-border-color: #dfcdb4; 
            --bs-btn-bg: #dfcdb4;
            --bs-btn-border-color: #dfcdb4;
            --bs-btn-active-bg: #dfcdb4;
            --bs-btn-active-border-color: #dfcdb4;                   
        }
    }
    p{
        font-family: $txt-principal;
        color: red;
        font-size: 20px;
        text-align: center;
    }
    .cajaTarifa{
        @include disposicion(flex, row, space-evenly, none);
        flex-wrap: wrap;  
    }
    .seleccionador{
        width: 20px;
        height: 20px;
    }
    .seleccionador:checked{
            background-color: red;
            border-color: red;
    }
    .precio{
        width: 300px;
        background-color: red;
        border-radius: 10px;
        margin: 10px 0;
        h4{
        font-family: $txt-principal;
        font-size: 30px;
        text-align: center;
        color: white;
        }
    }
    .tarifario{
        h5{
            font-family: $txt-principal;
            font-size: 20px;
            text-align: center;
            color: $bg-darkbrown;   
        }
        li{
            font-family: $txt-secundario;
            color: $bg-darkbrown;
            font-size: 15px;
            margin: 10px 0;
            list-style: none;
            img{
                width: 25px;
            }
        }
    }
}

.formularioReserva{
    margin: 50px;
    padding: 10px;
    background-color: $bg-lightbrown;
    border-radius: 10px;
    div p{
        font-family: $txt-principal;
        font-size: 30px;
        color: $bg-darkbrown;
        text-align: center;
    }
    div{
        font-family: $txt-principal;
        font-weight: 200;
        color: $bg-darkbrown;
        select, input{
            font-family: $txt-secundario;
            font-size: 15px;
            border-radius: 10px;
            padding: 5px;
            color: $bg-darkbrown;
            border: $bg-darkbrown 1px solid;
            margin: 0;  
        }
    }
    div div .check:checked{
        background-color: $bg-darkbrown;
        border-color: $bg-darkbrown
    }
    .botonReserva{
        @include disposicion(flex, column, none, center);
        button{
            background-color: $bg-darkbrown;
            font-family: $txt-principal;
            font-size: 20px;
            border: $bg-darkbrown 1px solid;
            color: white;
            margin: 10px;
            width: 50%;
            &:hover{
                background-color: $bg-lightbrown;
                color: $bg-darkbrown;            
                border: $bg-darkbrown 1px solid;
            }
        }       
    }
}


/*Pantalla 900*/

@media screen and (max-width:900px){
    .reservas{
        margin: 50px 20px;
        div{
            width: 150px;
        }
    }
    .formularioReserva{
        margin: 50px 20px;
    }
}


/*Pantalla 660-768*/

@media screen and (max-width:768px){
    .reservas{
        div{
            width: 250px;
        }
    }
    .formularioReserva{
        div p{
            font-size: 25px;
        }
    }
}



/*Pantalla 320-500*/

@media screen and (max-width:560px){
    .reservas{
        div{
            width: 100%;
            height: 80px;
        }
    }
    .formularioReserva{
        div {
            p{
                font-size: 20px;
            }
            label, input, select{
                    font-size: 15px;
            }
        }    
        .botonReserva button{
                font-size: 15px;
        }
    }
}