.ubicacion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "palermo guido uriburu";
    justify-content: center;
    .guido, .palermo, .uriburu{
        margin: 30px;
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
        }
        li{
            list-style: none;
            font-family: $txt-principal;
            font-weight: 400;
            font-size: nth($fontsize , 4 );
            padding: 20px;
            color: $bg-darkbrown;
            background: rgb(223,205,180);
            background: radial-gradient(circle, rgba(223,205,180,1) 0%, rgba(255,255,255,1) 100%);    
            text-align: center;        
        }
        a{
            text-decoration: none;
            color: $bg-darkbrown;
            text-align: center;
            font-size: nth($fontsize , 1 );        
        }
        p{
            padding-top: 30px;
            font-family: $txt-secundario;
            font-weight: 300;
            font-size: nth($fontsize , 2 );
            text-align: justify;        
        }
        .boton{
            display: flex;
            justify-content: center;
            margin-top: 10px; 
            a{
                background-color: $bg-darkbrown;
                border: $bg-darkbrown;
                color: white;
                &:hover{
                    --bs-btn-hover-bg: #dfcdb4;
                    --bs-btn-hover-border-color: #dfcdb4; 
                    --bs-btn-bg: #dfcdb4;
                    --bs-btn-border-color: #dfcdb4;
                    --bs-btn-active-bg: #dfcdb4;
                    --bs-btn-active-border-color: #dfcdb4;                
                }            
            }       
        }
    }
}
.guido{
    grid-area: guido;
}
.uriburu{
    grid-area: uriburu;
}
.palermo{
    grid-area: palermo;
}


/*Pantalla 768-900*/

@media screen and (max-width:900px) {
    .ubicacion{
        div {
            margin: 10px;
            li{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }   
    } 
}

/*Pantalla 660-768*/
@media screen and (max-width:660px) {
    .ubicacion{
        display: flex;
        flex-direction: column;
        div{
            margin: 40px;
        }
    }
}


/*Pantalla 320-500*/
@media screen and (max-width:500px) {
    .guido, .uriburu, .palermo{
        margin: 20px;
        a{
            font-size: 10px;
        }
    }
}